/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v14/92zPtBhPNqw79Ij1E865zBUv7mz9JQVG.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v14/92zPtBhPNqw79Ij1E865zBUv7myRJQVG.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v14/92zPtBhPNqw79Ij1E865zBUv7mx9IgVG.ttf) format('truetype');
}
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/signika/v25/vEF72_JTCgwQ5ejvMV0Ox_Kg1UwJ0tKfX4zNpD8E4ASzH1r9szuYzQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/signika/v25/vEF72_JTCgwQ5ejvMV0Ox_Kg1UwJ0tKfX4zNpD8E4ASzH1r9XzyYzQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyeMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/karla/v30/qkBIXvYC6trAT55ZBi1ueQVIjQTDppqqFA.ttf) format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/karla/v30/qkBIXvYC6trAT55ZBi1ueQVIjQTD-JqqFA.ttf) format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/karla/v30/qkBIXvYC6trAT55ZBi1ueQVIjQTDypqqFA.ttf) format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/karla/v30/qkBIXvYC6trAT55ZBi1ueQVIjQTDJp2qFA.ttf) format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/karla/v30/qkBIXvYC6trAT55ZBi1ueQVIjQTDH52qFA.ttf) format('truetype');
}
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/vollkorn/v22/0ybuGDoxxrvAnPhYGxksckM2WMCpRjDj-DKhXWmZ.ttf) format('truetype');
}
main {
  position: relative;
  width: 100vw;
  height: 550px;
  z-index: 3;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #cfcfcf;
  background-color: #fafafa;
  overflow: hidden;
}
main .demo-bg {
  position: relative;
  z-index: 1;
  opacity: 0.05;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  margin-top: -200px;
  filter: blur(2px);
}
main .main-p1 {
  position: relative;
  z-index: 2;
  width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  opacity: 1;
}
main .main-p1 h2 {
  font-size: 3.2rem;
  text-align: start;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  color: #88c425;
  margin-bottom: 20px;
}
main .main-p1 p {
  color: black;
  font-size: 1.1em;
  font-family: 'Karla', sans-serif;
  font-weight: 500;
  margin-bottom: 15px;
  line-height: 23px;
  text-align: justify;
  width: 90%;
}
main .main-p1 button {
  background-color: #88c425;
  color: white;
  border-radius: 8px;
  padding: 24px 16px;
  font-family: 'Karla', sans-serif;
  font-weight: 600;
  font-size: 1em;
  margin-top: 10px;
  width: 140px;
  border: none;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
main .main-p1 button:hover {
  opacity: 0.8;
}
main .main-p2 {
  position: relative;
  z-index: 2;
  width: 600px;
  height: 100%;
  clip-path: polygon(27% 0, 100% 0, 100% 100%, 0% 100%);
  background-image: url('../public/bgMain.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.nav-info-container {
  width: 100vw;
  height: 40px;
  background-color: #1b676b;
  display: none;
  justify-content: center;
}
.nav-info-container.scroll-fixed {
  margin-bottom: 110px;
}
@media screen and (min-width: 768px) {
  .nav-info-container {
    display: flex;
  }
}
.nav-info-container .nav-info {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  padding: 0px 16px;
  display: flex;
  justify-content: space-between;
}
.nav-info-container .nav-info .info-p1 {
  display: flex;
  height: 100%;
  align-items: center;
}
.nav-info-container .nav-info .info-p1 i {
  margin-right: 8px;
  color: white;
  font-size: 0.8em;
}
@media screen and (min-width: 510px) {
  .nav-info-container .nav-info .info-p1 i {
    font-size: 1em;
  }
}
.nav-info-container .nav-info .info-p1 .text-nav-info {
  color: white;
  font-size: 0.8em;
  margin-right: 8px;
  font-family: 'Karla', sans-serif;
  font-weight: 500;
}
@media screen and (min-width: 510px) {
  .nav-info-container .nav-info .info-p1 .text-nav-info {
    font-size: 1em;
  }
}
.nav-info-container .nav-info .info-p2 {
  display: flex;
  height: 100%;
  align-items: center;
  padding-right: 40px;
}
@media screen and (min-width: 768px) {
  .nav-info-container .nav-info .info-p2 {
    padding-right: 0px;
  }
}
.nav-info-container .nav-info .info-p2 i {
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  margin-left: 15px;
}
@media screen and (min-width: 510px) {
  .nav-info-container .nav-info .info-p2 i {
    font-size: 1.5em;
  }
}
nav {
  width: 100vw;
  height: 110px;
  background-color: white;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #dbdbdb;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
nav .navbar-container {
  width: 1200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .navbar-container .navbar-p1 {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
}
nav .navbar-container .navbar-p1 .logo-nav {
  width: auto;
  height: 90%;
}
nav .navbar-container .navbar-p1 .logo-name {
  margin-left: 16px;
}
nav .navbar-container .navbar-p1 .logo-name .h1-logo {
  color: #88c425;
  font-size: 2.5em;
  font-family: 'Vollkorn', serif;
  font-weight: 700;
  font-style: italic;
}
nav .navbar-container .navbar-p1 .logo-name .h2-logo {
  color: #747474;
  font-size: 0.8em;
  font-family: 'Jost', sans-serif;
  font-weight: 500;
}
nav .navbar-container .navbar-p2 {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
@media screen and (min-width: 1020px) {
  nav .navbar-container .navbar-p2 {
    justify-content: flex-start;
  }
}
nav .navbar-container .navbar-p2 .navbar-ul {
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-evenly;
}
@media screen and (min-width: 1020px) {
  nav .navbar-container .navbar-p2 .navbar-ul {
    display: flex;
  }
}
nav .navbar-container .navbar-p2 .navbar-ul .nav-a {
  text-decoration: none;
  color: #555;
  font-family: 'Jost', sans-serif;
  font-weight: 700;
}
nav .navbar-container .navbar-p2 .navbar-ul .nav-a li {
  position: relative;
}
nav .navbar-container .navbar-p2 .navbar-ul .nav-a li img {
  height: 8px;
  position: absolute;
  right: -12px;
  top: 2px;
}
nav .navbar-container .navbar-p2 .navbar-ul .li-servicos li .servicos-box {
  position: absolute;
  width: 180px;
  height: auto;
  background-color: white;
  top: 30px;
  left: -20px;
  padding: 20px 12px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: none;
}
nav .navbar-container .navbar-p2 .navbar-ul .li-servicos li .servicos-box ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
nav .navbar-container .navbar-p2 .navbar-ul .li-servicos li .servicos-box ul li {
  margin-bottom: 25px;
  list-style: none;
  text-align: start;
}
nav .navbar-container .navbar-p2 .navbar-ul .li-servicos li .servicos-box ul li:last-child {
  margin-bottom: 2px;
}
nav .navbar-container .navbar-p2 .navbar-ul .li-servicos:hover li .servicos-box {
  display: absolute;
}
nav .navbar-container .navbar-p2 .a-call {
  width: 184px;
  height: 60px;
  margin-right: 40px;
  background-color: #88c425;
  padding: 4px;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 8px;
}
@media screen and (min-width: 1020px) {
  nav .navbar-container .navbar-p2 .a-call {
    width: 260px;
    margin-right: 0;
  }
}
nav .navbar-container .navbar-p2 .a-call .btn-call {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .navbar-container .navbar-p2 .a-call .btn-call i {
  margin-right: 8px;
  color: white;
}
nav .navbar-container .navbar-p2 .a-call .btn-call p {
  color: white;
  font-family: 'Jost', sans-serif;
  font-weight: 700;
}
.navbar.fixed {
  position: fixed;
  top: 0px;
  z-index: 5;
}
footer {
  position: relative;
  height: 220px;
  width: 100vw;
  background-color: #1b676b;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px 0px;
}
footer .content-footer {
  position: relative;
  height: 62%;
  width: 1200px;
  background-color: #1b676b;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(230, 230, 230, 0.459);
}
footer .content-footer .elements-footer {
  background-color: #1b676b;
  height: 100%;
}
footer .content-footer #elements-footer-left {
  width: 50%;
  height: 100%;
  background-color: #1b676b;
}
footer .content-footer #elements-footer-left .footer-full-logo {
  display: flex;
  flex-direction: row;
}
footer .content-footer #elements-footer-left .footer-full-logo .logo-footer {
  height: 80px;
  width: auto;
}
footer .content-footer #elements-footer-left .footer-full-logo .footer-name-logo {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  margin-left: 16px;
}
footer .content-footer #elements-footer-left .footer-full-logo .footer-name-logo .h1-logo-footer {
  color: #88c425;
  font-size: 2.2em;
  font-family: 'Vollkorn', serif;
  font-weight: 700;
  font-style: italic;
}
footer .content-footer #elements-footer-left .footer-full-logo .footer-name-logo .h2-logo-footer {
  color: #e2dfdf;
  font-size: 0.7em;
  font-family: 'Jost', sans-serif;
  font-weight: 500;
}
footer .content-footer #elements-footer-left .footer-nav {
  margin-top: 30px;
  margin-left: 8px;
}
footer .content-footer #elements-footer-left .footer-nav ul {
  display: flex;
  width: 80%;
  justify-content: space-between;
}
footer .content-footer #elements-footer-left .footer-nav ul a {
  text-decoration: none;
  font-family: 'Jost';
  color: #fff;
}
footer .content-footer #elements-footer-left .footer-nav ul a:hover {
  color: #88c425;
}
footer .content-footer #elements-footer-right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: end;
}
footer .content-footer #elements-footer-right .footer-redes {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  padding-bottom: 10px;
}
footer .content-footer #elements-footer-right .footer-redes i {
  color: #fff;
  font-size: 1.9rem;
  margin-left: 10px;
}
footer .content-footer #elements-footer-right .footer-redes p {
  color: #fff;
  text-align: left;
  font-family: 'Karla', sans-serif;
  font-size: 1.1rem;
  margin-right: 20px;
  font-weight: 500;
  margin-top: 10px;
}
footer .copyright {
  font-family: 'Karla', sans-serif;
  font-weight: 500;
  width: 1200px;
  color: #fff;
  margin-top: 30px;
  align-self: center;
}
.whatsapp {
  width: 64px;
  height: 64px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5;
}
.whatsapp img {
  width: 100%;
  height: 100%;
}
.whatsapp img:hover {
  opacity: 0.8;
}
@keyframes arrowDown {
  0% {
    bottom: 25px;
  }
  30% {
    bottom: 15px;
    opacity: 1;
  }
  70% {
    bottom: 10px;
    opacity: 1;
  }
  100% {
    bottom: 5px;
    opacity: 0;
  }
}
@keyframes lineDown {
  0% {
    transform: scale(1, 0);
    transform-origin: top center;
  }
  25% {
    transform: scale(1, 1);
    transform-origin: top center;
  }
  75% {
    transform: scale(1, 1);
    transform-origin: top center;
  }
  76% {
    transform: scale(1, 1);
    transform-origin: bottom center;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: bottom center;
  }
}
[data-anime] {
  transition: 2s;
  opacity: 0;
}
[data-anime="top"] {
  transform: translate3d(0, -50px, 0);
}
[data-anime="left"] {
  transform: translate3d(-80px, 0, 0);
}
[data-anime="right"] {
  transform: translate3d(30px, 0, 0);
}
[data-anime].animate {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.parallax {
  position: relative;
  width: 100%;
  height: auto;
  background: url("../public/construc.jpg") no-repeat center fixed;
  z-index: 1;
  transition: 0.6s;
  margin-bottom: 50px;
}
.parallax .color {
  width: 100vw;
  height: auto;
  background-color: #1b676bbd;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px 0 0 16px;
}
.parallax .color .form {
  height: auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 30px 0px;
}
@media screen and (max-width: 1200px) {
  .parallax .color .form {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    margin-bottom: 30px;
  }
  .parallax .color .form .form-textos {
    width: 90%;
    padding: 0px;
  }
}
.parallax .color .form .form-textos,
.parallax .color .form .form-email {
  height: auto;
  width: 580px;
  padding: 0px 20px;
  margin-bottom: 5px;
  margin-top: 20px;
}
.parallax .color .form .form-email {
  display: flex;
  height: auto;
  flex-direction: column;
  background-color: rgba(253, 253, 253, 0.658);
  padding-bottom: 15px;
}
.parallax .color .form .form-email .form-title {
  margin-top: 20px;
  margin-bottom: 4px;
  font-family: 'Karla', sans-serif;
  color: #333333;
  font-size: 1.25rem;
  font-weight: 300;
}
.parallax .color .form .form-email .input {
  border: none;
  padding: 5px 10px;
  border-radius: 2px;
  height: 30px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}
.parallax .color .form .form-email .input:focus {
  outline: none;
}
.parallax .color .form .form-email .text-area {
  padding: 10px 10px;
  border: none;
  border-radius: 2px;
  resize: vertical;
  min-height: 60px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}
.parallax .color .form .form-email .text-area:focus {
  outline: none;
}
.parallax .color .form .form-email .botao {
  height: 50px;
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  background-color: #1b676b;
  border: none;
  border-radius: 5px;
  color: white;
  margin-top: 10px;
}
.parallax .color .form .form-email .botao:hover {
  background-color: #3dad5d;
  cursor: pointer;
}
.parallax .color .form .form-textos {
  padding: 10px;
  font-family: 'Signika', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .parallax .color .form .form-textos {
    width: 90%;
  }
}
.parallax .color .form .form-textos .form-contato {
  font-size: 3rem;
  color: #fff;
}
@media screen and (max-width: 1199.98px) {
  .parallax .color .form .form-textos .form-contato {
    font-size: 2.6rem;
  }
}
@media screen and (max-width: 281.86px) {
  .parallax .color .form .form-textos .form-contato {
    font-size: 2rem;
  }
}
.parallax .color .form .form-textos .form-divtexto {
  color: #fff;
  margin-top: 50px;
  font-size: 1.15rem;
  text-align: justify;
  line-height: 25px;
}
@media screen and (max-width: 281.86px) {
  .parallax .color .form .form-textos .form-divtexto {
    font-size: 1.2rem;
  }
}
.sobre {
  position: relative;
  width: 100vw;
  height: 700px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sobre .div-sobre {
  position: absolute;
  height: 520px;
  width: 1200px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;
}
.sobre .div-sobre .texto-sobre {
  height: 100%;
  width: 50%;
  background-color: #fff;
}
.sobre .div-sobre .texto-sobre .texto-sobre-h2 {
  font-family: 'Signika', 'serif';
  font-weight: 600;
  color: #1b676b;
  font-size: 2.5rem;
  width: 90%;
}
.sobre .div-sobre .texto-sobre .texto-sobre-p {
  width: 90%;
  margin-top: 30px;
  font-family: 'Jost', 'serif';
  font-size: 1.2rem;
  text-align: justify;
  line-height: 25px;
  font-weight: 300;
}
.sobre .swiper {
  height: 100%;
  width: 50%;
  transition: 1s;
  position: relative;
  z-index: 3;
  border-radius: 16px 0 0 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.sobre .swiper .swiper-wrapper {
  height: 100%;
  width: 100%;
}
.sobre .swiper .swiper-wrapper .swiper-slide {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.sobre .swiper .swiper-wrapper .swiper-slide img {
  height: 100%;
  width: 100%;
}
.sobre .swiper-pagination-bullet {
  background-color: #1b676b;
  width: 14px;
  height: 14px;
  border: 2px solid #88c425;
}
.sobre .swiper-pagination-bullet-active {
  background-color: #ffffff;
  border: 2px solid #f3f3f3;
}
.servicos {
  position: relative;
  height: 1000px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 1199.98px) {
  .servicos {
    height: auto;
    justify-items: center;
  }
}
.servicos .title-servicos {
  font-family: 'Signika', 'serif';
  color: #1b676b;
  font-size: 2.5rem;
  font-weight: 600;
  align-self: center;
  margin-bottom: 50px;
  width: 1200px;
}
@media screen and (max-width: 1200px) {
  .servicos .title-servicos {
    text-align: center;
  }
}
@media screen and (max-width: 282.7px) {
  .servicos .title-servicos {
    font-size: 2.22rem;
  }
}
.servicos .servico-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  justify-items: center;
}
@media screen and (max-width: 1199.98px) {
  .servicos .servico-container {
    grid-template-columns: 1fr 1fr;
    gap: 2px;
  }
}
@media screen and (max-width: 791.3px) {
  .servicos .servico-container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 282.7px) {
  .servicos .servico-container {
    gap: 20px;
  }
}
.servicos .servico-container .servico-cards {
  height: 400px;
  width: 370px;
  padding: 0px 10px;
  border: 2px solid #e6e6e6;
  cursor: pointer;
  transition: 1s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
@media screen and (max-width: 377.5px) {
  .servicos .servico-container .servico-cards {
    width: 345px;
  }
}
@media screen and (max-width: 361.7px) {
  .servicos .servico-container .servico-cards {
    width: 330px;
    gap: 5px;
  }
}
@media screen and (max-width: 282.7px) {
  .servicos .servico-container .servico-cards {
    width: 255px;
  }
}
.servicos .servico-container .servico-cards:hover {
  background-color: #30878b;
  color: #fff;
  transition: all ease-in-out 0.3s;
  transform: translateZ(-1px);
}
.servicos .servico-container .servico-cards:hover .servico-img img {
  background-color: #fff;
  box-shadow: #1b676b -5px 5px, #1b676b -10px 10px;
  transition: all ease-in-out 0.3s;
  transform: translateZ(-1px);
}
.servicos .servico-container .servico-cards:hover .servico-title h2 {
  color: #fff;
}
.servicos .servico-container .servico-cards .servico-img {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.servicos .servico-container .servico-cards .servico-img img {
  height: 60px;
  background-color: #30878b;
  padding: 6px;
  border-radius: 10px;
}
.servicos .servico-container .servico-cards .servico-title {
  margin-top: 20px;
}
.servicos .servico-container .servico-cards .servico-title h2 {
  text-align: center;
  font-size: 1.6rem;
  font-family: 'Signika', 'serif';
  font-weight: 600;
  color: #1b676b;
}
.servicos .servico-container .servico-cards .servico-text {
  margin-top: 40px;
}
@media screen and (max-width: 282.7px) {
  .servicos .servico-container .servico-cards .servico-text {
    font-size: 0.9rem;
    margin-top: 20px;
  }
}
.servicos .servico-container .servico-cards .servico-text p {
  text-align: center;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
}
.treinamentos {
  display: flex;
  width: 100vw;
  margin-top: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.treinamentos .treinos {
  width: 1200px;
}
.treinamentos .treinos h2 {
  font-family: 'Signika', 'serif';
  color: #1b676b;
  font-size: 2.5rem;
  font-weight: 600;
  align-self: flex-start;
  margin-bottom: 50px;
}
.treinamentos .treinos ul li {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
  height: 45px;
  margin-bottom: 1px;
  background-color: #1b676b;
  cursor: pointer;
}
.treinamentos .treinos ul li p {
  margin-left: 10px;
  color: #fff;
  font-family: 'Jost', sans-serif;
}
.treinamentos .treinos ul li img {
  height: 10px;
}
body {
  width: 100vw;
  overflow-x: hidden;
  transition: 0.6s;
}
.height-100vh {
  height: 100vh;
}
