/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v14/92zPtBhPNqw79Ij1E865zBUv7myRJQVG.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v14/92zPtBhPNqw79Ij1E865zBUv7mx9IgVG.ttf) format('truetype');
}
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/signika/v20/vEFO2_JTCgwQ5ejvMV0O96D01E8J0tJlHJbG.ttf) format('truetype');
}
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/signika/v20/vEFO2_JTCgwQ5ejvMV0O96D01E8J0tKJG5bG.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyeMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/karla/v30/qkBIXvYC6trAT55ZBi1ueQVIjQTDppqqFA.ttf) format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/karla/v30/qkBIXvYC6trAT55ZBi1ueQVIjQTD-JqqFA.ttf) format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/karla/v30/qkBIXvYC6trAT55ZBi1ueQVIjQTDypqqFA.ttf) format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/karla/v30/qkBIXvYC6trAT55ZBi1ueQVIjQTDJp2qFA.ttf) format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/karla/v30/qkBIXvYC6trAT55ZBi1ueQVIjQTDH52qFA.ttf) format('truetype');
}
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/vollkorn/v22/0ybuGDoxxrvAnPhYGxksckM2WMCpRjDj-DKhXWmZ.ttf) format('truetype');
}
body {
  width: 100vw;
  overflow-x: hidden;
  transition: 0.6s;
}
.height-100vh {
  height: 100vh;
}
main {
  position: relative;
  z-index: 3;
}
.swiper {
  width: 1200px;
  height: 500px;
  transition: 1s;
  position: relative;
  z-index: 3;
}
.swiper .swiper-wrapper {
  height: 100%;
  width: 100%;
}
.swiper .swiper-wrapper .swiper-slide {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.swiper-button-next,
.swiper-button-prev {
  color: #248a41 !important;
  position: absolute;
  top: 220px;
}
.swiper-pagination-bullet {
  background-color: #248a41;
  width: 15px;
  height: 15px;
}
.swiper-pagination-bullet-active {
  background-color: #fff;
}
.nav-info-container {
  width: 100vw;
  height: 40px;
  background-color: #248a41;
  display: flex;
  justify-content: center;
}
.nav-info-container.scroll-fixed {
  margin-bottom: 130px;
}
.nav-info-container .nav-info {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  padding: 0px 16px;
  display: flex;
  justify-content: space-between;
}
.nav-info-container .nav-info .info-p1 {
  display: flex;
  height: 100%;
  align-items: center;
}
.nav-info-container .nav-info .info-p1 i {
  margin-right: 8px;
  color: white;
}
.nav-info-container .nav-info .info-p1 .text-nav-info {
  color: white;
  font-size: 1em;
  margin-right: 8px;
  font-family: 'Karla', sans-serif;
  font-weight: 500;
}
.nav-info-container .nav-info .info-p2 {
  display: flex;
  height: 100%;
  align-items: center;
}
.nav-info-container .nav-info .info-p2 i {
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  margin-left: 15px;
}
nav {
  width: 100vw;
  height: 130px;
  background-color: white;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #dbdbdb;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
nav .navbar-container {
  width: 1200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .navbar-container .navbar-p1 {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
}
nav .navbar-container .navbar-p1 .logo-nav {
  width: auto;
  height: 80%;
}
nav .navbar-container .navbar-p1 .logo-name {
  margin-left: 16px;
}
nav .navbar-container .navbar-p1 .logo-name .h1-logo {
  color: #248a41;
  font-size: 2.5em;
  font-family: 'Vollkorn', serif;
  font-weight: 700;
  font-style: italic;
}
nav .navbar-container .navbar-p1 .logo-name .h2-logo {
  color: #747474;
  font-size: 0.8em;
  font-family: 'Jost', sans-serif;
  font-weight: 500;
}
nav .navbar-container .navbar-p2 {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
}
nav .navbar-container .navbar-p2 .navbar-ul {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav .navbar-container .navbar-p2 .navbar-ul .nav-a {
  text-decoration: none;
  color: #555;
  font-family: 'Jost', sans-serif;
  font-weight: 700;
}
nav .navbar-container .navbar-p2 .a-call {
  width: 260px;
  height: 60px;
  background-color: #248a41;
  padding: 4px;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 8px;
}
nav .navbar-container .navbar-p2 .a-call .btn-call {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .navbar-container .navbar-p2 .a-call .btn-call i {
  margin-right: 8px;
  color: white;
}
nav .navbar-container .navbar-p2 .a-call .btn-call p {
  color: white;
  font-family: 'Jost', sans-serif;
  font-weight: 700;
}
.navbar.fixed {
  position: fixed;
  top: 0px;
  z-index: 2;
}
.whatsapp {
  width: 64px;
  height: 64px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5;
}
.whatsapp img {
  width: 100%;
  height: 100%;
}
.whatsapp img:hover {
  opacity: 0.8;
}
@keyframes arrowDown {
  0% {
    bottom: 25px;
  }
  30% {
    bottom: 15px;
    opacity: 1;
  }
  70% {
    bottom: 10px;
    opacity: 1;
  }
  100% {
    bottom: 5px;
    opacity: 0;
  }
}
@keyframes lineDown {
  0% {
    transform: scale(1, 0);
    transform-origin: top center;
  }
  25% {
    transform: scale(1, 1);
    transform-origin: top center;
  }
  75% {
    transform: scale(1, 1);
    transform-origin: top center;
  }
  76% {
    transform: scale(1, 1);
    transform-origin: bottom center;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: bottom center;
  }
}
[data-anime] {
  transition: 2s;
  opacity: 0;
}
[data-anime="top"] {
  transform: translate3d(0, -50px, 0);
}
[data-anime="left"] {
  transform: translate3d(-80px, 0, 0);
}
[data-anime="right"] {
  transform: translate3d(30px, 0, 0);
}
[data-anime].animate {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.parallax {
  position: relative;
  width: 100%;
  height: 700px;
  background: url("../public/construc.jpg") no-repeat center fixed;
  z-index: 1;
  transition: 0.6s;
}
.parallax .color {
  width: 100vw;
  height: 100%;
  background-color: #53db53bd;
}
.parallax .color .form {
  position: absolute;
  height: auto;
  width: 100%;
  max-width: 1200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 20px;
  justify-content: space-around;
  padding: 10px;
}
.parallax .color .form .form-textos,
.parallax .color .form .form-email {
  height: 590px;
  width: 580px;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.parallax .color .form .form-email {
  display: flex;
  gap: 20px;
  flex-direction: column;
  background-color: rgba(253, 253, 253, 0.658);
}
.parallax .color .form .form-email .form-title {
  font-family: 'Jost', sans-serif;
  color: #333333;
  font-size: 1.25rem;
}
.parallax .color .form .form-email .input {
  padding: 5px;
  border: 1px solid;
  border-radius: 2px;
  height: 40px;
}
.parallax .color .form .form-email .text-area {
  padding: 5px;
  border: 1px solid;
  border-radius: 2px;
  font-family: 'Jost', sans-serif;
  resize: none;
}
.parallax .color .form .form-email .botao {
  height: 80px;
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  background-color: #248a41;
  border: none;
  border-radius: 5px;
  color: white;
  text-shadow: 1px 1px 3px black;
}
.parallax .color .form .form-email .botao:hover {
  background-color: #4dec4de0;
  cursor: pointer;
}
