.treinamentos {
    display: flex;
    width: 100vw;
    margin-top: 20px;
    justify-content: center;

    .treinos {
        width: 1200px;

        ul li {
            display: flex;
            justify-content: start;
            align-items: center;
            padding-left: 10px;
            height: 45px;
            margin-bottom: 4px;
            background-color: #1b676b;

            p {
                margin-left: 10px;
                color: #fff;
                font-family: 'Jost', sans-serif;
            }

            img {
                height: 10px;

            }
        }
    }
}