.sobre {
    position: relative;
    width: 100vw;
    height: 830px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 300px) {
        height: 700px;
    }

    .div-sobre {
        position: absolute;
        height: auto;
        width: 100vw;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        padding: 30px 0px;

        @media screen and (min-width: 1200px) {
          width: 1200px;
        }

        .texto-sobre {
            height: 100%;
            width: 100%;
            background-color: #fff;
            padding-left: 40px;

            @media screen and (min-width: 768px) {
              width: 50%;
            }

            @media screen and (min-width: 1200px) {
              padding: 0;
            }
            
            .texto-sobre-h2{
                font-family: 'Signika', 'serif';
                font-weight: 600;
                color: #1b676b;
                font-size: 2.2rem;
                width: 90%;

                @media screen and (min-width: 900px) {
                  font-size: 2.5rem;
                }
            }

            .texto-sobre-p {
                width: 90%;
                margin-top: 30px;
                font-family: 'Jost', 'serif';
                font-size: 1rem;
                text-align: justify;
                line-height: 25px;
                font-weight: 300;

                @media screen and (min-width: 900px) {
                  font-size: 1.2rem;
                }
            }

        }
    }

    .swiper {
        height: 100%;
        width: 50%;
        transition: 1s;
        position: relative;
        z-index: 3;
        border-radius: 16px 0 0 16px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: none;
        
        @media screen and (min-width: 768px) {
          display: block;
        }
    
        .swiper-wrapper{
            height: 100%;
            width: 90%;

            @media screen and (min-width: 1200px) {
              width: 100%;
            }
        
            .swiper-slide{
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;  
    
                img {
                  height: 100%;
                  width: 100%;
              }
            }
    
        }
      }
      
      .swiper-pagination-bullet {
        background-color: #1b676b;
        width: 14px;
        height: 14px;
        border: 2px solid #88c425;
      }
      
      .swiper-pagination-bullet-active {
        background-color: #ffffff;
        border: 2px solid rgb(243, 243, 243);
      }

}