.sobre {
    position: relative;
    width: 100vw;
    height: 700px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    .div-sobre {
        position: absolute;
        height: 520px;
        width: 100%;
        max-width: 1200px;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        padding: 30px 0px;

        .texto-sobre {
            height: 100%;
            width: 590px;
            background-color: #fff;
            
            .texto-sobre-h2{
                font-family: 'Jost', 'serif';
                color: #1b676b;
                font-size: 2.5rem;
            }

            .texto-sobre-p {
                margin-top: 30px;
                font-family: 'Jost', 'serif';
                font-size: 1.2rem;
            }

        }

        .img-sobre {
            height: 100%;
            width: 590px;
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

            & img {
                height: 100%;
                width: 100%;
            }
        }
    }

}