.swiper {
    width: 1200px;
    height: 500px;
    transition: 1s;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 3;

    .swiper-wrapper{
        height: 100%;
        width: 100%;

        .swiper-slide{
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
        }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #248a41 !important;
    position: absolute;
    top: 220px;
  }

  .swiper-pagination-bullet {
    background-color: #248a41;
    width: 15px;
    height: 15px;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #fff;
  }